In [ ]:
str1='hello python learners'
str2='how are you'
print(str1[0:2])
print(str1[4])
print(str1*2)
print(str1+str2)

he
o
hello python learnershello python learners
hello python learnershow are you

In [ ]:
list1=[1,"hi","python",2]
print(type(list1))
print(list1)
print(list1[3:])
print(list1[0:2])
print(list1+list1)
print(list1*3)

<class 'list'>
[1, 'hi', 'python', 2]
[2]
[1, 'hi']
[1, 'hi', 'python', 2, 1, 'hi', 'python', 2]
[1, 'hi', 'python', 2, 1, 'hi', 'python', 2, 1, 'hi', 'python', 2]

In [27]:
tup=("hi","python",2)
print(type(tup))
print(tup)
print(tup[1:])
print(tup[0:1])
print(tup+tup)
print(tup*3)
tup[2]="hi"

<class 'tuple'>
('hi', 'python', 2)
('python', 2)
('hi',)
('hi', 'python', 2, 'hi', 'python', 2)
('hi', 'python', 2, 'hi', 'python', 2, 'hi', 'python', 2)

TypeError: ignored

r=[1,2,3,4,5]
n=["a","b","c"]
data=list(zip(r,n))

In [37]:
r=[1,2,3,4,5] 
n=['a','b','c','d','e'] 
data=list(zip(r,n))

TypeError: ignored

In [32]:
print(data)

NameError: ignored

In [35]:
d={101:'jimmy',102:'alex',103:'john',104:'mike'}
print(d)
print("1st mane is "+d[101])
print("2nd mane is "+d[104])
print(d.keys())
print(d.values())
del d[102]
d

{101: 'jimmy', 102: 'alex', 103: 'john', 104: 'mike'}
1st mane is jimmy
2nd mane is mike
dict_keys([101, 102, 103, 104])
dict_values(['jimmy', 'alex', 'john', 'mike'])

{101: 'jimmy', 103: 'john', 104: 'mike'}

In [36]:
print(type(True))
print(type(False))
print(false)

<class 'bool'>
<class 'bool'>

NameError: ignored

In [39]:
set1=set()
set2={'james',2,3,'python','james',2,3}
print(set2)
set2.add(10)
print(set2)
set2.remove(2)
print(set2)

{2, 3, 'python', 'james'}
{2, 3, 'python', 10, 'james'}
{3, 'python', 10, 'james'}